html, body, section, div, input, a, textarea, h1,h2 {
  margin: 0;
  padding: 0;
  font-family:sans-serif, Open Sans,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei;
} 

* {
  box-sizing: border-box;
}

html, body, #root , .blog, .signin, .signup {
  height: 100%;
}

html {
  background: #fff;
}

.App {
  text-align: center;
}

a {
  color: #262930;
  text-decoration: none;
  cursor: pointer;  
}


input,button {
  outline: none;
}

.home {
  background: #fff;
  height: 100%;
  color: #33333d;
}

.home-heading {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  width: 100%;
  text-align: center;
}

.home-logo {
  font: 150px 'Italiana', sans-serif;
  padding: 0 20px;
}

.home-tag {
  font-size: 16px;
}

.home-tag a {
  text-decoration: underline;
}

.signin, .signup {
  background-color: #f9f9f9;
}

.signin-wrap, .signup-wrap {
  max-width: 340px;
  margin: 0 auto;
  padding-top: 30px;
}

.signin-logo {
  width: 100%;
  text-align: center;
  font-size: 100px;
  margin-bottom: 30px;
}

.signin-block, .signup-block {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.signin-block h1 , .signup-block h1 {
  text-align: center;
  color: #262930;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.signin-block label, .signup-block label {
  font-size: 16px;
  margin-bottom: 7px;
}

.signin-block input, .signup-block input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  min-height: 34px;
  line-height: 20px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 10px;
  background: #fff;
}

.signin-block input:active, .signin-block input:focus,.signup-block input:focus {
  border: 1px solid #269f42;
  border-radius: 5px;
}

.signin-block button, .signup-block button {
  width: 100%;
  min-height: 34px;
  background: #269f42;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.signin-block button:hover, .signup-block button:hover {
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  background-image: -webkit-linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
}

.create-account, .had-account {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 0;
}

.create-account span, .had-account span {
  color: #0366d6;
  text-decoration: underline;
  cursor: pointer;
}

.header, .header-fixed {
  height: 50px;
}

/* Header  common component*/
.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  color: #262930;
}

.header-fixed .header-wrapper {
  position: fixed;
  z-index: 3;
  background-color: #24292e;
  animation-name: FadeInDown;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-animation-name: FadeInDown;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-content {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.header-logo {
  font-size: 28px;
  line-height: 30px;
  float: left;
  cursor: pointer;
}

.header-fixed .header-logo a {
  color: #fff;
}

.header-logo a:hover {
  text-decoration: none;
}

.dropdown-trigger {
  visibility: hidden;
}

.dropdown-trigger:checked~.dropdown-menu{
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 180px;
  margin-top: 10px;
  z-index: 3;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}

/* .dropdown-menu:before {
  position: absolute;
  top: -15px;
  right: 10px;
  border: 8px solid transparent;
  border-bottom-color: rgba(27,31,35,0.15);
  display: inline-block;
  content: "";
}

.dropdown-menu:before {
  position: absolute;
  top: -14px;
  right: 10px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  display: inline-block;
  content: "";
} */

.dropdown-menu-header {
  padding: 4px 15px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu-item {
  display: block;
  padding: 4px 10px 4px 15px;
  color: #24292e;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu-item:hover{
  color: #fff;
  text-decoration: none;
  background-color: #0366d6;
}

.dropdown-menu-item:hover a {
  color: #fff;
}

.header-nav {
  float: right;
  display: flex;
  margin-top: -5px;
  align-items: center;
}

.header-fixed .nav-write {
  color: #fff;
}

.nav-write {
  color: #02b875;
  margin-right: 20px;
  font-size: 16px;
  line-height: 24px;
}

.nav-search {
  min-height: 30px;
  margin-right: 10px;
}

.header-fixed .nav-search input {
  color: #fff;
  background-color: rgba(255,255,255,0.125); 
}

.nav-search input {
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: 3px 10px;
  background: none;
}

.nav-search input:focus {
  outline: none;
}

.nav-user {
  max-height: 40px;
  display: block;
  padding: 8px;
  cursor: pointer;
}

.nav-user img {
  display: inline-block;
  border-radius: 3px;
  max-width: 35px;
  margin-top: -5px;
}

/* postList common component */
.posts-body {
  max-width: 980px;
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
}

.postList {
  width: 66.666667%;
  padding: 0 10px;
}

.post-list{
  list-style: none;
  padding: 0;
}

.postItem {
  padding: 10px 5px;
  border-bottom: 1px solid #eff3f6;
}

.postItem-title, .post-title {
  color: #24292e;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 10px;
}

.postItem-title:hover{
  text-decoration: underline;
}

.postItem-info, .post-info {
  color: #666;
  font-size: 13px;
}

.postItem-info-date,.postItem-agree, .postItem-comments {
  margin-left: 15px;
}

.postItem-info-author a {
  color: #666;
}

/* posts-history common componen*/
.posts-history {
  width: 33.333%;
  border: none;
  padding: 0 10px;
}

.history-content {
  margin-bottom: 20px;
  border-radius: 3px;
}

.history-content>h3 {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  background-color: #f6f8fa;
  border: 1px solid rgba(27,31,35,0.15);
  border-bottom: 0;
  border-radius: 3px 3px 0 0; 
}


.history-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #d1d5da;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 14px;
  line-height: 17px;
}

.history-list>:first-child {
  border-top: 0;
}

.history-item {
  padding: 6px 64px 6px 13px;
  border-top: 1px solid #d1d5da;
  position: relative;
}

.history-title {
  max-width: 220px;
}

.history-agree {
  position: absolute;
  top: 0;
  right: 10px;
  margin-top: 6px;
  font-size: 12px;
  color: #6a737d;
}

/* post page */
.post-wrapper {
  margin: 50px auto 0;
  padding: 0 10px;
  max-width: 980px;
}

.post-content {
  position: relative;
}


.post-info-user, .post-info-date {
  text-align: right;
}
.post-body {
  margin: 20px 0;
  color: #666;
  font-size: 15px;
  padding-bottom: 40px;
}

.post-footer-comment {
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  margin-left: 20px;
}

.post-footer-comment:hover {
  color: #24292e;
}

.post-info {
  display: flex;
  vertical-align: center;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 24px;
}

.post-title {
  text-align: center
}

.comments-container {
  border: 1px solid #e7eaf2;
}

.comments-topbar {
  display: flex;
  border: 1px solid #f0f2f7;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-start; 
}

.topbar-title {
  font-size: 15px;
  font-weight: 700;
  color: #1e1e1e;
}

.comment-list-wrapper {
  padding: 0 15px;
}

.comment-item {
  padding: 12px 16px 10px;
  font-size: 15px;
  border-bottom: 1px solid #f0f2f7;
}

.comment-item-meta {
  position: relative;
  height: 27px;
  line-height: 24px;
  padding-right: 3px;
  padding-left: 1px;
  font-size: 18px;
  margin-bottom: 5px;
}

.userLink-avatar {
  border-radius: 2px;
  vertical-align: top;
}

.userLink-userName {
  margin-left: 5px;
  font-size: 15px;
}

.comment-item-time {
  position: absolute;
  right: 0;
  top: 0;
  color: #8590a6;
  font-size: 14px;
}

.comment-item-content {
  margin-bottom: 5px;
  line-height: 24px;
}

.comment-item-delete {
  display: none;
  color: #8590a6;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.comment-item:hover .comment-item-delete {
  display: block;
}

.comment-form{
  padding: 12px 0;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comment-input {
  width: 66.67%;
  border: 1px solid #9fadc7;
  padding: 5px 10px;
}

.comment-input input {
  width: 100%;
  border: 0;
  outline: none;
  height: 24px;
  line-height: 24px;
  font-size: 18px; 
}

.comment-submit {
  margin-right: 15px;
  background: #269f42;
  color: #fff; 
  border: none;
  height: 34px;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
}

.comment-submit:focus {
  outline:  none;
}

/* Page user */
.user-wrapper {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 998px;
}
.user-basic {
  width: 25%;
  float: left;
  padding-right: 15px;
}

.user-avatar {
  display: inline-block;
  width:  100%;
  border-radius: 5px;
}

.user-name {
  font-size: 26px;
  line-height: 30px;
}

.user-bio {
  overflow: hidden;
  font-size: 14px;
  color: #6a737d;
}

.user-info {
  width: 75%;
  float: left;
  padding-left: 8px;
}

.user-info-nav {
  display: flex;
  justify-content: flex-start;
  height: 62px;
  background-color: #fff;
  border-bottom: 1px solid #d1d5da;
  align-items: center;
}

.user-info-nav-item {
  font-size: 14px;
  padding: 0 20px;
  line-height: 60px;
  color: #586069;
  border-bottom: 2px solid transparent;
}

.selected {
  color: #24292e;
  border-bottom-color: #e36209;
}

.user-info-nav-item:hover {
  color: #24292e;
  text-decoration: none;
}

.user-info-content {
  margin-top: 10px;
}

.user-info-posts {
  width: 100%;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.post-content {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 20px;
}

.post-title {
  height: 50px;
}

.post-title input {
  border: none;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  padding-left: 10px;
}


.post-body {
  padding-top: 10px;
}

.post-body-nav {
  background-color: #f6f8fa;
  padding: 6px 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}


.post-body-tab {
  border: none;
  font-size: 20px;
  background-color: #f6f8fa;
  outline: none;
  cursor: pointer;
  color: #586069;
  padding-bottom: 5px;
}

.selected {
  color: #24292e;
  background-color: #fff;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d1d5da;;
  border-bottom: 0;
}

.post-body-nav-info {
  color: #586069;
}

.post-body-container {
  padding: 0 10px;
  margin-top: 20px;
  border-top: 1px solid #d1d5da;
}

.post-body-container textarea {
  margin-top: 10px;
  border: none;
  width: 100%;
  outline: none;
  height: 600px;
  font-size: 18px;
  line-height: 20px;
}

.post-footer {
  max-width: 980px;
  margin: 20px auto;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

.post-footer button {
  border: none;
  outline: none;
  font-size: 24px;
  line-height: 30px;
  background-color: #269f42; 
  color: #fff;
  max-width: 100px;
  cursor: pointer;
}

.post-footer button:hover {
  background-color: #2fcb53;
}

.modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.6); 
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 600px;
  margin-top: -50px;
  margin-left: -300px;
  padding: 0 20px;
}

.modal-body {
  padding: 10px 0;
}

.modal-footer {
  position: relative;
}

.modal-footer-buttons {
  position: absolute;
  right: 0;
}

.modal-footer-buttons button {
  font-size: 24px;
  line-height: 32px;
  width: 50px;
  margin-left: 10px;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.modal-footer-no:hover {
  color: red;
}

.modal-footer-yes:hover {
  color: green;
}

.pagination {
  padding: 16px 20px;
  border: 1px solid #e7eaf1;
  background: #fff;
  text-align: center;
  margin: 0 auto;
}

.pagination-items {
  
  display: flex;
  justify-content: center;
}

.pagination-item {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  padding:  0 15px;
}

.disabled {
  opacity: 0.5;
  cursor: default; 
}

.pagination-button {
  font-size: 16px;
  line-height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}


