html, body, div, input, a, textarea {
  margin: 0;
  padding: 0;
  font-family: Open Sans,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei;
} 

html {
  background: #f3f5f6;
}

.App {
  text-align: center;
}

.signin-block {
  position: relative;
  top: 100px;
  width: 320px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border-top: 5px solid #f05b48;
}

.signin-block h1 , .signup-block h1 {
  text-align: center;
  color: #262930;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.signin-block input, .signup-block input {
  width: 100%;
  height: 42px;
  line-height: 28px;
  font-size: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0 10px;
  background: #fff;
}

.signin-block input:active, .signin-block input:focus,.signup-block input:focus {
  border: 1px solid #f05b48;
}

.signin-block button, .signup-block button {
  width: 100%;
  height: 40px;
  background: #f05b48;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  opacity: 1;
  border: none;
}

.signin-block button:hover, .signup-block button:hover {
  opacity: 0.8;
}


.signup-block {
  position: relative;
  top: 100px;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px 10px 10px;
  background: #fff;
  color: #262930;
}

